<!DOCTYPE html>
<html lang="en">

<head>
    <!--开始-->
    <meta charset="utf-8"/>
    <!--设置编码方式-->
    <title>Mander T21-F List</title>
    <link href="../static/css/index.css" rel="stylesheet">
    <link href="https://cdn.korzh.com/metroui/v4/css/metro-all.min.css" rel="stylesheet">
    <!--网页名称-->
</head>
<!--结束-->


<body>
<aside class="sidebar pos-absolute z-2"
       data-role="sidebar"
       data-shift=".shifted-content-2"
       data-static="md"
       data-static-shift=".shifted-content-2"
       data-toggle="#sidebar-toggle-4"
       id="sb4">
    <div class="sidebar-header" data-image="https://metroui.org.ua/images/sb-bg-1.jpg">
        <!--
        <div class="avatar">
            <img data-role="gravatar" data-email="sergey@pimenov.com.ua">
        </div>
        -->
        <span class="title fg-white">Mander T21-F List</span>
        <span class="subtitle fg-white"> 2023 © MCommander</span>
    </div>
    <ul class="sidebar-menu">
        <li><a href="{{ url_for('index') }}"><span class="mif-home icon"></span>主页/Home</a></li>
        <li><a href="{{ url_for('list') }}"><span class="mif-books icon"></span>歌曲列表/List</a></li>
        <li class="divider"></li>
        <li><a href="{{ url_for('admin') }}"><span class="mif-images icon"></span>管理/Admin</a></li>
    </ul>
</aside>
<div class="shifted-content-2 h-100 p-ab">
    <div class="appbar pos-absolute bg-red z-1" data-role="appbar">
        <button class="app-bar-item c-pointer" id="sidebar-toggle-4">
            <span class="mif-menu fg-white"></span>
        </button>
    </div>

    <div class="h-100 p-4">
        <h1>MCommander's T21-F List</h1>
        <p>MCommander的T21-F歌曲列表</p>
    </div>
</div>

<script src="https://cdn.korzh.com/metroui/v4/js/metro.min.js"></script>
</body>

</html>